body {font-family: Arial;
      background-image: linear-gradient(white 33%, pink 67%);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
}

/* Style the tab */
.tab {
overflow: hidden;
border: 1px solid #ffffff;
background-color: #ffffff;
padding: 0;
}

/* Style the buttons inside the tab */
.tab button {
background-color: inherit;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
display: none;
padding: 6px 12px;
border: 1px solid #ccc;
border-top: none;
background-color: #ffffff;
}

.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  display: inline-block;
  width: 180px;
  background-color: #ffffff;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: left;
}

.img-container{
  text-align: center;
}

.center{
  text-align: center;
}

